$clr-primary: rgb(11, 13, 23);
$clr-secondary: rgb(208, 214, 249);
$clr-accent: rgb(255, 255, 255);
$clr-accent-500: rgb(255, 255, 255, 5%);
$clr-accent-600: rgb(255, 255, 255, 50%);

$clr-blue-300: rgb(208, 214, 249);
$clr-blue-900: rgb(11, 13, 23);
