@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&display=swap");
*, *::after, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: default;
}

#root {
  max-width: 1440px;
  width: 100%;
}

img, video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul, ol {
  all: unset;
  list-style: none;
}

button {
  all: unset;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media (max-width: 30rem) {
  .inner-container {
    align-items: center;
  }
}

.content-container {
  max-width: 1110px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}
@media (max-width: 60rem) {
  .content-container {
    flex-direction: column;
    align-items: center;
  }
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
@media (max-width: 60rem) {
  .image-container {
    width: 100%;
  }
}
.image-container img {
  max-height: 676px;
}
@media (max-width: 60rem) {
  .image-container img {
    max-height: 560px;
  }
}

.details-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;
  padding: 133px 47px;
  gap: 2.5rem;
}
@media (max-width: 60rem) {
  .details-container {
    width: 100%;
    align-items: center;
    padding: 11.5px 87px;
    gap: 1.5rem;
  }
}
@media (max-width: 30rem) {
  .details-container {
    padding: 0;
  }
}

.inner-header {
  font-family: "Bellefair";
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 0px;
  opacity: 50.42%;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}
@media (max-width: 60rem) {
  .inner-header {
    font-size: 24px;
  }
}
@media (max-width: 30rem) {
  .inner-header {
    font-size: 18px;
  }
}
@media (max-width: 60rem) {
  .inner-header {
    align-self: center;
  }
}

@keyframes openAnimation {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes closeAnimation {
  0% {
    opacity: 1;
    transform: translateY(30%);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}
@keyframes textOnload {
  0% {
    transform: translateX(5%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
.loader {
  width: -moz-fit-content;
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  color: lightgray;
  font-size: 30px;
  -webkit-clip-path: inset(0 3ch 0 0);
          clip-path: inset(0 3ch 0 0);
  animation: l4 1s steps(4) infinite;
}

.loader:before {
  content: "Loading...";
}

@keyframes l4 {
  to {
    -webkit-clip-path: inset(0 -1ch 0 0);
            clip-path: inset(0 -1ch 0 0);
  }
}
main#destinationPage {
  padding-block: 3rem;
}
@media (max-width: 60rem) {
  main#destinationPage {
    padding-inline: 3rem;
  }
}
@media (max-width: 30rem) {
  main#destinationPage {
    padding: 1.5rem;
  }
}
main#destinationPage .planets-image {
  width: 480px;
  height: 480px;
  animation: 30s around1 infinite;
}
main#destinationPage .planets-image:hover {
  animation-play-state: paused;
}
@media (max-width: 60rem) {
  main#destinationPage .planets-image {
    width: 300px;
    height: 300px;
    margin-block: 42px;
  }
}
@media (max-width: 30rem) {
  main#destinationPage .planets-image {
    width: 150px;
    height: 150px;
    margin-block: 26.5px;
  }
}
@keyframes around1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
main#destinationPage hr {
  width: 100%;
  background-color: rgb(151, 151, 151);
  opacity: 25%;
}
main#destinationPage .misc-container {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}
@media (max-width: 60rem) {
  main#destinationPage .misc-container {
    align-items: center;
  }
}
@media (max-width: 30rem) {
  main#destinationPage .misc-container {
    flex-direction: column;
  }
}
main#destinationPage .misc-container .distance-details, main#destinationPage .misc-container .time-details {
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-transform: uppercase;
}
@media (max-width: 60rem) {
  main#destinationPage .misc-container .distance-details, main#destinationPage .misc-container .time-details {
    align-items: center;
  }
}
main#destinationPage .misc-container .distance-details dt, main#destinationPage .misc-container .time-details dt {
  color: rgb(208, 214, 249);
  font-family: "Barlow Condensed";
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 2px;
  animation: 1.5s textOnload linear;
}
main#destinationPage .misc-container .distance-details dd, main#destinationPage .misc-container .time-details dd {
  color: rgb(255, 255, 255);
  font-family: "Bellefair";
  font-weight: 400;
  font-size: 28px;
  letter-spacing: 0px;
  animation: 1.5s textOnload linear;
}
@media (max-width: 30rem) {
  main#destinationPage .misc-container .distance-details dd, main#destinationPage .misc-container .time-details dd {
    font-size: 16px;
  }
}
@media (max-width: 30rem) {
  main#destinationPage .misc-container .distance-details dd, main#destinationPage .misc-container .time-details dd {
    font-size: 28px;
  }
}
main#destinationPage .activeIndex {
  border-bottom: 3px solid rgb(255, 255, 255);
}/*# sourceMappingURL=destination.css.map */