@use "../../sass/" as *;
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;

    @media (max-width: $tablet) {
        margin-top: 0;
    }
    @media (max-width: $mobile) {
        position: relative;
        padding: 1.5rem;
    }
}
.nav-logo {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;

    @media (max-width: $tablet) {
        margin-inline: 2.5rem;
        width: auto;
    }
    @media (max-width: $mobile) {
        margin-inline: 0;
    }

    a img { 
        cursor: pointer;
        width: 3rem;
        height: 3rem;

        @media (max-width: $mobile) {
            width: 40px;
            height: 40px;
        }
    }
    .line-design {
        position: absolute;
        z-index: 1;
        width: 560px;
        height: 1px;
        border: 1px solid rgb(151, 151, 151);
        right: -24px;
        opacity: 0.24;
        @media (max-width: $tablet){
            display: none;
        }
    }
}
.nav-links {
    width: 50%;
    height: 96px;
    background-color: $clr-accent-500;
    backdrop-filter: blur(80px);
    padding-inline: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;

        @media (max-width: $tablet) {
            width: 100%;
            padding-inline: 2.5rem;
            
        }
        @media (max-width: $mobile) {
            display: none;
        }
    }    
.nav-links a, .mobile-nav-links a {
        // padding-inline: 1.5rem;
        height: 100%;
        align-content: center;
        text-transform: uppercase;
        @include preset-800;
        color: $clr-accent;

        &:first-child {
            margin-left: auto;
        }
            @media (max-width: $tablet) {
                &:first-child {
                    margin-left: auto;
                }
            }
            @media (max-width: $mobile) {
                position: relative;
                width: 100%;
                height: fit-content;
                // line-height: 0;
            }
        
        strong {
            margin-right: 12px;
            cursor: pointer;
        }

        &:hover {
            border-bottom: 3px solid $clr-accent-600;
            @media (max-width: $mobile) {
                border-bottom: 0;
                border-right: 3px solid $clr-accent-600;
            }
        }        
}
.link-active {
    border-bottom: 3px solid $clr-accent;
    @media (max-width: $mobile) {
        border-bottom: 0;
        border-right: 3px solid $clr-accent;
    }
}
.burger {
    position: relative;
    width: 24px;
    height: 24px;
    img {cursor: pointer;}
}
dialog {
    all: unset;
}
#nav-modal {
    position: absolute;
    background: transparent;
    top: 0;
    right: 0;
    z-index: 9999;
    width: 254px;
    min-height: 100vh;
    display: none;
    @media (max-width: $mobile) {
        display: block;
    }
}
  #nav-modal.open {
    animation: openAnimation 0.5s ease forwards;
  }
  
  #nav-modal.close {
    animation: closeAnimation 0.5s ease forwards;
  }
.mobile-nav-links {
    min-height: 100vh;
    width: 100%;
    background-color: rgb(11, 13, 23, 15%);
    backdrop-filter: blur(80px);
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
    a {
        min-height: 100%;
        line-height: normal;
        padding-inline: 0;
    }
    .close-icon {
        width: 24px;
        height: 24px;
        position: relative;
        cursor: pointer;
        align-self: flex-end;
        margin: 2rem 1.5rem;
        img {
            cursor: pointer;
        }
    }
}
@media (min-width: 30rem) {
    .mobile-nav-links, .burger {display: none;}
}

.close-icon:hover::before, .burger:hover::before {
    content: "";
    position: absolute;
    background-color: $clr-accent-600;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    top: -18px;
    left: -18px;
    animation: beat 2.5s infinite;
    z-index: -2;
}
.logo-container {
    position: relative;
    margin-inline: 64px;
    @media (max-width: 60rem) {
        margin: 0;
    }
}
.logo-container:hover::before {
    content: "";
    position: absolute;
    background-color: $clr-accent-600;
    width: 86px;
    height: 86px;
    border-radius: 50%;
    top: -19px;
    left: -19px;
    animation: beat 2.5s infinite;
    z-index: -2;
    @media (max-width: $mobile) {
        width: 70px;
        height: 70px;
        top: -15px;
        left: -15px;
    }
}
@keyframes beat {
    from {
        opacity: 20%;
    } to {
        opacity: 80%;
    }
    
}