@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&display=swap");
*, *::after, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: default;
}

#root {
  max-width: 1440px;
  width: 100%;
}

img, video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul, ol {
  all: unset;
  list-style: none;
}

button {
  all: unset;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media (max-width: 30rem) {
  .inner-container {
    align-items: center;
  }
}

.content-container {
  max-width: 1110px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}
@media (max-width: 60rem) {
  .content-container {
    flex-direction: column;
    align-items: center;
  }
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
@media (max-width: 60rem) {
  .image-container {
    width: 100%;
  }
}
.image-container img {
  max-height: 676px;
}
@media (max-width: 60rem) {
  .image-container img {
    max-height: 560px;
  }
}

.details-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;
  padding: 133px 47px;
  gap: 2.5rem;
}
@media (max-width: 60rem) {
  .details-container {
    width: 100%;
    align-items: center;
    padding: 11.5px 87px;
    gap: 1.5rem;
  }
}
@media (max-width: 30rem) {
  .details-container {
    padding: 0;
  }
}

.inner-header {
  font-family: "Bellefair";
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 0px;
  opacity: 50.42%;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}
@media (max-width: 60rem) {
  .inner-header {
    font-size: 24px;
  }
}
@media (max-width: 30rem) {
  .inner-header {
    font-size: 18px;
  }
}
@media (max-width: 60rem) {
  .inner-header {
    align-self: center;
  }
}

@keyframes openAnimation {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes closeAnimation {
  0% {
    opacity: 1;
    transform: translateY(30%);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}
@keyframes textOnload {
  0% {
    transform: translateX(5%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
.loader {
  width: -moz-fit-content;
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  color: lightgray;
  font-size: 30px;
  -webkit-clip-path: inset(0 3ch 0 0);
          clip-path: inset(0 3ch 0 0);
  animation: l4 1s steps(4) infinite;
}

.loader:before {
  content: "Loading...";
}

@keyframes l4 {
  to {
    -webkit-clip-path: inset(0 -1ch 0 0);
            clip-path: inset(0 -1ch 0 0);
  }
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
}
@media (max-width: 60rem) {
  header {
    margin-top: 0;
  }
}
@media (max-width: 30rem) {
  header {
    position: relative;
    padding: 1.5rem;
  }
}

.nav-logo {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
}
@media (max-width: 60rem) {
  .nav-logo {
    margin-inline: 2.5rem;
    width: auto;
  }
}
@media (max-width: 30rem) {
  .nav-logo {
    margin-inline: 0;
  }
}
.nav-logo a img {
  cursor: pointer;
  width: 3rem;
  height: 3rem;
}
@media (max-width: 30rem) {
  .nav-logo a img {
    width: 40px;
    height: 40px;
  }
}
.nav-logo .line-design {
  position: absolute;
  z-index: 1;
  width: 560px;
  height: 1px;
  border: 1px solid rgb(151, 151, 151);
  right: -24px;
  opacity: 0.24;
}
@media (max-width: 60rem) {
  .nav-logo .line-design {
    display: none;
  }
}

.nav-links {
  width: 50%;
  height: 96px;
  background-color: rgba(255, 255, 255, 0.05);
  -webkit-backdrop-filter: blur(80px);
          backdrop-filter: blur(80px);
  padding-inline: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
}
@media (max-width: 60rem) {
  .nav-links {
    width: 100%;
    padding-inline: 2.5rem;
  }
}
@media (max-width: 30rem) {
  .nav-links {
    display: none;
  }
}

.nav-links a, .mobile-nav-links a {
  height: 100%;
  align-content: center;
  text-transform: uppercase;
  font-family: "Barlow Condensed";
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 2px;
  color: rgb(255, 255, 255);
}
@media (max-width: 30rem) {
  .nav-links a, .mobile-nav-links a {
    font-size: 14px;
  }
}
.nav-links a:first-child, .mobile-nav-links a:first-child {
  margin-left: auto;
}
@media (max-width: 60rem) {
  .nav-links a:first-child, .mobile-nav-links a:first-child {
    margin-left: auto;
  }
}
@media (max-width: 30rem) {
  .nav-links a, .mobile-nav-links a {
    position: relative;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
  }
}
.nav-links a strong, .mobile-nav-links a strong {
  margin-right: 12px;
  cursor: pointer;
}
.nav-links a:hover, .mobile-nav-links a:hover {
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
}
@media (max-width: 30rem) {
  .nav-links a:hover, .mobile-nav-links a:hover {
    border-bottom: 0;
    border-right: 3px solid rgba(255, 255, 255, 0.5);
  }
}

.link-active {
  border-bottom: 3px solid rgb(255, 255, 255);
}
@media (max-width: 30rem) {
  .link-active {
    border-bottom: 0;
    border-right: 3px solid rgb(255, 255, 255);
  }
}

.burger {
  position: relative;
  width: 24px;
  height: 24px;
}
.burger img {
  cursor: pointer;
}

dialog {
  all: unset;
}

#nav-modal {
  position: absolute;
  background: transparent;
  top: 0;
  right: 0;
  z-index: 9999;
  width: 254px;
  min-height: 100vh;
  display: none;
}
@media (max-width: 30rem) {
  #nav-modal {
    display: block;
  }
}

#nav-modal.open {
  animation: openAnimation 0.5s ease forwards;
}

#nav-modal.close {
  animation: closeAnimation 0.5s ease forwards;
}

.mobile-nav-links {
  min-height: 100vh;
  width: 100%;
  background-color: rgba(11, 13, 23, 0.15);
  -webkit-backdrop-filter: blur(80px);
          backdrop-filter: blur(80px);
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
}
.mobile-nav-links a {
  min-height: 100%;
  line-height: normal;
  padding-inline: 0;
}
.mobile-nav-links .close-icon {
  width: 24px;
  height: 24px;
  position: relative;
  cursor: pointer;
  align-self: flex-end;
  margin: 2rem 1.5rem;
}
.mobile-nav-links .close-icon img {
  cursor: pointer;
}

@media (min-width: 30rem) {
  .mobile-nav-links, .burger {
    display: none;
  }
}
.close-icon:hover::before, .burger:hover::before {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  top: -18px;
  left: -18px;
  animation: beat 2.5s infinite;
  z-index: -2;
}

.logo-container {
  position: relative;
  margin-inline: 64px;
}
@media (max-width: 60rem) {
  .logo-container {
    margin: 0;
  }
}

.logo-container:hover::before {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  width: 86px;
  height: 86px;
  border-radius: 50%;
  top: -19px;
  left: -19px;
  animation: beat 2.5s infinite;
  z-index: -2;
}
@media (max-width: 30rem) {
  .logo-container:hover::before {
    width: 70px;
    height: 70px;
    top: -15px;
    left: -15px;
  }
}

@keyframes beat {
  from {
    opacity: 20%;
  }
  to {
    opacity: 80%;
  }
}/*# sourceMappingURL=navbar.css.map */